@import "tailwindcss";

html,
body,
* {
  transition: background-color 180ms ease, color 180ms ease,
    border-color 180ms ease, fill 180ms ease, stroke 180ms ease;
}

@custom-variant dark (&:where(.dark, .dark *));
